{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],

    "import/prefer-default-export": false,
    "react/destructuring-assignment": false,
    "prefer-destructuring": ["warn"],
    "react/no-unescaped-entities": false,
    "import/extensions": false,
    "eslint-disable-next-line": false,
    "class-methods-use-this": ["off"],
    "react/prefer-stateless-function": ["off"],
    "no-plusplus": ["off"],
    "no-use-before-define": "off",
    "react/require-default-props": ["warn"],

    "jsx-a11y/label-has-for": false,
    "jsx-a11y/label-has-associated-control": false,
    "jsx-a11y/anchor-is-valid": false,
    "jsx-a11y/click-events-have-key-events": false,
    "jsx-a11y/no-static-element-interactions": false
  }
}
