.back {
    align-items: center;
    color: $text-main;
    display: flex;
    font-size: $text-small;
    padding-bottom: $spacing-large;
    text-decoration: none;

    &__icon {
        margin-right: $spacing;
    }
}
