.content {
    @include shadow;
    align-items: stretch;
    display: flex;
    max-height: 100%;
    flex-direction: column;

    &--bottom-square {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__fixed {
        flex-shrink: 0;
    }

    &__scrollable {
        flex: 1 100%;
        overflow: auto;
    }

    &--stretch {
        flex: 1 100%;
    }

}
