.goal {
    background: $background-secondary;
    border-radius: $radius;
    color: $text-secondary;
    font-size: $text-tiny;
    line-height: $line-height-spacious;
    padding: $spacing-small;
    width: $skill-width + 2 * $skill-padding;
}
