.heading1 {
    color: $text-main;
    font-size: 24px;
    margin: 0;
    padding: 0 0 $spacing-large;
}

.heading2 {
    color: $text-main;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 0 0 $spacing;

    &--large {
        font-size: 18px;
        padding-bottom: $spacing-small;
    }
}


.heading3 {
    color: $text-main;
    font-weight: normal;
    margin: 0;
    padding-bottom: $spacing-small;
}
