.logo {
    @include flex-center;
    padding: $spacing $spacing 0;
    text-decoration: none;
    width: 100%;

    &__wrapper {
        border-bottom: 1px solid $border;
        display: flex;
        justify-content: center;
        padding-bottom: $spacing;
        width: 100%;
    }
}
